Replace missing values in Min.Price and Max.Price columns with their respective mean.

In [15]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [17]:
df.columns

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [18]:
Min_price_mean = df['Min.Price'].mean()
Max_price_mean = df['Max.Price'].mean()
print(Min_price_mean, Max_price_mean)

17.118604651162787 21.45909090909091

In [19]:
print(df.loc[:,['Min.Price','Max.Price']])

    Min.Price  Max.Price
0        12.9       18.8
1        29.2       38.7
2        25.9       32.3
3         NaN       44.6
4         NaN        NaN
..        ...        ...
88       16.6       22.7
89       17.6       22.4
90       22.9       23.7
91       21.8       23.5
92       24.8       28.5

[93 rows x 2 columns]

In [20]:
df['Min.Price'] = df['Min.Price'].fillna(Min_price_mean)
df['Max.Price'] = df['Max.Price'].fillna(Max_price_mean)

In [22]:
print(df.loc[:,['Min.Price','Max.Price']])

    Min.Price  Max.Price
0   12.900000  18.800000
1   29.200000  38.700000
2   25.900000  32.300000
3   17.118605  44.600000
4   17.118605  21.459091
..        ...        ...
88  16.600000  22.700000
89  17.600000  22.400000
90  22.900000  23.700000
91  21.800000  23.500000
92  24.800000  28.500000

[93 rows x 2 columns]